*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #3b0394;
}

header{
    background-color: rgb(0, 0, 0);
    padding: 20px;
}

header > h1{
    color:rgb(182, 108, 252);
    text-align: center;
    font-family: sans-serif;
}

.score-board {
    margin: 20px auto;
    border: 3px solid rgb(86, 255, 52);
    border-radius: 4px;
    width: 200px;
    text-align: center;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    font-family: sans-serif;
    position: relative;
}

.badge{
    background: #3f00d3;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: sans-serif;
}

#user-label{
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label{
    position: absolute;
    top: 30px;
    right: -30px;
}

.result{
    font-size: 40px;
    color: white;
}

.result > p{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

.choices{
    margin-top: 50px;
    text-align: center;
}

.choice{
    border: 4px solid white;
    border-radius: 50%;
    margin: 0 20px;
    padding: 10px;
    display: inline-block;
    transition: all 0.3s ease;
    color: #31b43a;
}

.choice:hover{
    cursor: pointer;
    background: rgb(225, 203, 255);
}

#action-message{
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.sim{
    align-items: center;
}

.green-glow{
    border: 4px solid #4dcc7d;
    box-shadow: 0 0 10px #31b43a;
}

.red-glow{
    border: 4px solid #fc121b;
    box-shadow: 0 0 10px #d01115;
}

.gray-glow{
    border: 4px solid #464647;
    box-shadow: 0 0 10px #25292b;
}